<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HEHRKR8Z9W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HEHRKR8Z9W');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title}"></title>
    <meta name="description" th:content="${description}" content="Сайт об HTML и создании сайтов">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@KingdomMidichi">
    <meta name="twitter:creator" content="@qas">
    <meta name="twitter:title"  th:content="${title}" content="Название страницы">
    <meta name="twitter:description" th:content="${description}">
    <meta name="twitter:image" th:content="'https://www.qas.su/' + ${pictureUrl}">
    <meta name="twitter:url" content="https://www.qas.su/">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="img/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="img/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="img/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="img/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="img/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="img/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="img/mstile-310x310.png"/>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">

    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    <script data-ad-client="ca-pub-6822823724045312" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body vocab="https://schema.org/" typeof="Recipe">

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
            </button>
            <img  class="navbar-brand" width="150" height="70" src="assets/img/logo.png" alt="">
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="about.html">
                  О нас
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">
                  Контакты
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  На главную
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
          <li class="nav-item">
            <a class="nav-link" href="about.html">
              О нас
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">
              Контакты
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              На главную
            </a>
          </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->
    </header>
    <!-- Header Area wrapper End -->

    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h1 property="name" class="product-title" th:text="${header}">Blog Details</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Start Content -->
    <div id="content" class="section-padding">
      <div class="container">
        <div class="row">        
          <div class="col-lg-8 col-md-12 col-xs-12">

            <!-- Start Post -->
            <div class="blog-post single-post">
              <!-- Post thumb -->
              <div class="post-thumb">
                <img property="image" class="img-fluid" th:src="${pictureUrl}" src="assets/img/blog/blog1.jpg" >
                <div class="hover-wrap">
                </div>
              </div>
              <!-- End Post post-thumb -->

              <!-- Post Content -->
              <div class="post-content">                   
                <div class="meta">
                  <ul>
                    <li><span class="meta-part"><i class="lni-alarm-clock"></i><b>Дата публикации:</b> <span
                            property="datePublished" th:text="${generatedDate}"></span></span>
                    </li>
                    <li><span class="meta-part"><i class="lni-alarm-clock"></i><b>Время приготовления:</b> <span
                            property="totalTime" th:text="${cookedTime}"></span></span>
                    </li>
                    <li><span class="meta-part"><i class="lni-alarm-clock"></i><b>Сложность:</b>  <span
                            th:text="${difficult}"></span></span>
                    </li>
                  </ul>
                </div>
                <p property="description" th:text="${description}">Описание</p>

                <h2>Ингредиенты</h2>
                <ul class="list-specification">
                  <li property="recipeIngredient" th:each="ingredient : ${ingredients}" >
                    <i class="lni-check-mark-circle"></i>
                    <span th:text="${ingredient}">ингредиент</span>
                  </li>
                </ul>
                <span property="recipeInstructions">
                    <h2>Рецепт</h2>
                    <ul class="list-specification">
                         <li th:each="cookStep : ${cookSteps}">
                            <i class="lni-check-mark-circle"></i>
                            <span th:text="${cookStep}">шаг</span>
                        </li>
                    </ul>

                </span>

              </div>
              <!-- Post Content -->
            </div>
            <!-- End Post -->

            <!-- Start Comment Area -->
            <div id="comments">
              <div id="disqus_thread"></div>
              <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://qas-su-1.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


            </div>
            <!-- End Comment Area -->

          </div>

          <!--Sidebar-->
          <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
            <!-- Searcg Widget -->
            <div class="widget_search">
              <h4 class="fst-italic">Поиск по сайту</h4>
              <form id="search-form">
                <div class="gcse-search"></div>
              </form>
            </div>
            <!-- Categories Widget -->
            <div class="widget categories">
              <h4 class="widget-title">Категории рецепта</h4>
              <ul class="categories-list">
                <li th:each="category : ${categoriesWithUrls}" >
                  <a property="recipeCategory" th:href="${category.categoryUrl}"  th:text="${category.name}">Категория</a>
                </li>
              </ul>
            </div>

          </aside>
          <!--End sidebar-->

        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Footer Section Start -->
    <!-- Footer Section Start -->
    <footer>
      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info float-left">
                <p>All copyrights reserved &copy; 2021</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    </footer>
    <!-- Footer Section End --> 

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/summernote.js"></script>

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
          (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(81826594, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true
      });
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/81826594" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <script async src="https://cse.google.com/cse.js?cx=4c3720658b865ae2c"></script>

    <!-- Rating Mail.ru counter -->
    <script type="text/javascript">
      var _tmr = window._tmr || (window._tmr = []);
      _tmr.push({id: "3223927", type: "pageView", start: (new Date()).getTime()});
      (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = "https://top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
      })(document, window, "topmailru-code");
    </script><noscript><div>
      <img src="https://top-fwz1.mail.ru/counter?id=3223927;js=na" style="border:0;position:absolute;left:-9999px;" alt="Top.Mail.Ru" />
    </div></noscript>
    <!-- //Rating Mail.ru counter -->
    <!-- вертикальные -->

  </body>
</html>